.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.root_menu_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.root_menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto;
  width: 250px;
  height: 250px;
  margin: 16px;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
  font-size: 30px;
  line-height: 34px;

  &:hover {
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
  }
}

.container a {
  font-size: 1.4rem;
}
